*{
	margin: 0;
	padding: 0;
    font-family: 'Poppins', sans-serif;
	
}
body{
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 2000vh;
    background: #405A6B;
	top: 0;
}

.top img{
margin-top: -855px;
}
.logo{
width: 205px;
position: absolute;
top: 4%;    /*---image towards up---*/
left: 5%;  /*---image towards left---*/
border: 5px solid #00CCFF;
box-shadow: 0 0 20px 0px rgba(0,0,0,0.1);
cursor: pointer;
}


/*-----SIDE NAV----*/
#sidenav{
width: 250px;
height: 2000vh;
position: fixed;
right: -250px;
top: 0;
background: #003366;
z-index: 2;
transition: 0.5s;
}
nav ul li{
list-style: none;
margin: 50px 20px;
}
nav ul li a{
	text-decoration: none;
	color: #fff;
}
#menubtn{
width: 60px;
height: 60px;
color: #003366;
text-align: center;
position: fixed;
right: 30px;
top: 20px;
border-radius: 3px;
cursor: pointer;
z-index: 3px;
}
#menubtn img{
width: 70px;
margin-top: 15px;
color: #fff;
}
.side-bar{
width: 50px;
height: 2000vh;
background: linear-gradient(#003366, #000);/*---#8b4513---*/
position: absolute;
right: 0;
top: 0;
}
.social-links img{
width: 25px;
margin: 5px auto;
cursor: pointer;
border: 2px solid #fff;
}
.useful-links img{
width: 25px;
margin: 5px auto;
cursor: pointer;
border: 2px solid #000;
}
.social-links{
width: 50px;
height: 75px;
text-align: center;
position: absolute;
top: 50%;
}
.useful-links{
width: 50px;
text-align: center;
position: absolute;
bottom: 30px;
}
/*----side nav end---*/


/*----media screen ----*/
@media screen and (max-width: 770px){
.bannertext h1{
	font-size: 60px;
}
.banner-btn a{
display: block;
margin: 20px auto;
}

.container{
flex-direction: column;
}
.container .card{
flex-direction: column;
max-width: 350px;
}
.container .card .imgBx{
max-width: 100%;
}
/*----media screen end----*/


.main-container{
max-width: 1300px;
margin: 50px auto;
padding-left: 25px;
padding-right: 25px;
padding-top: 10px;
padding-bottom: 10px;
font-family: 'RocknRoll One', sans-serif;
}

.container{
max-width: 1000px;
margin: auto;
padding-left: 10px;
padding-right: 15px;
display: flex;
align-items: center;
justify-content: space-between;
position: relative;
flex-wrap: wrap;
}

.navbar{
height: 15%;
display: flex;
align-items: center;
}

.navbar nav{
flex: 1;
text-align: right;
}
.navbar input{
width: 75%;
height: 35px;
}